aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.4.9
dotenv==0.9.9
fonttools==4.63.0
frozenlist==1.8.0
greenlet==3.5.4
idna==3.18
multidict==6.7.1
playwright==1.61.0
propcache==0.5.2
pyee==13.0.1
PyJWT==2.13.0
python-dotenv==1.2.2
requests==2.34.2
twilio==9.10.9
typing_extensions==4.16.0
urllib3==2.7.0
win11toast==0.36.3
winrt-runtime==3.2.1
winrt-Windows.Data.Xml.Dom==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Globalization==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Media.Core==3.2.1
winrt-Windows.Media.Ocr==3.2.1
winrt-Windows.Media.Playback==3.2.1
winrt-Windows.Media.SpeechSynthesis==3.2.1
winrt-Windows.Storage==3.2.1
winrt-Windows.Storage.Streams==3.2.1
winrt-Windows.UI.Notifications==3.2.1
yarl==1.24.5
